<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FinanceStockApp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FinanceStockApp.My.MySettings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="selectedTransaction" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="fromAllTrans" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="type" serializeAs="String">
                <value />
            </setting>
            <setting name="barcodesID" serializeAs="String">
                <value />
            </setting>
            <setting name="barcodeTrans" serializeAs="String">
                <value />
            </setting>
            <setting name="fromAssetPurchase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fromAssetImported" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fromPurchase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fromTransfer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="theAssetID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="theTransID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="barcodeQty" serializeAs="String">
                <value>0</value>
            </setting>
        </FinanceStockApp.My.MySettings>
    </userSettings>
</configuration>